<section class="example-panel" [class.example-panel-embedded]="embedded">
  <div
    class="example-panel-header"
    [class.example-panel-header-embedded]="embedded"
  >
    <div>
      <div class="example-panel-title" [class.example-panel-title-embedded]="embedded">{{ title }}</div>
      @if (subtitle) {
        <div class="example-panel-subtitle">
          {{ subtitle }}
        </div>
      }
    </div>

    <div class="example-panel-controls" (click)="$event.stopPropagation()">
      <button class="control-btn" type="button" (click)="copyJson()">Copy JSON</button>
    </div>
  </div>

  <div class="example-panel-body">
    <pre class="example-output"><code class="language-json" [innerHTML]="previewJson | prismHighlight : 'json'"></code></pre>
  </div>
</section>
